pandas==1.5.*
scikit-learn==1.3.2
torch
# tensorflow
Flask==1.1.2
jinja2==3.0.3
markupsafe
itsdangerous==1.1.0
werkzeug==1.0.1
chardet
matplotlib
seaborn
xgboost
shap
fastparquet
pyarrow
# dask_ml
lightgbm
typing-extensions==4.12.2
dask
nbimporter
pymongo
python-dotenv
gunicorn
flask-restx
mlflow
xmltodict
psutil
numba
dask
psycopg2-binary